.container_form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
    flex: 1;
    border: 0.05em solid black;
    margin-top: 3em;
}

form {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2em;
}

form input, form select, form legend, form textarea {
    flex-basis: 100%;
    margin-bottom: 0.3em;
}

form p {
    flex-basis: 100%;
    padding-bottom: 0;
    margin-bottom: 0;
    text-align: left;
}

.sub_res {
    display: inline-block;
    padding: 0.5rem;
    margin: 0.5rem;
    margin-left: 0;
    text-decoration: none;
    transition: all 0.5s ease;
}

.button_trans {
    color: black;
    background-color: transparent;
    border: 0.08em solid black;
}

.button_trans:active, .button_trans:hover, .button_trans:focus {
    color: white;
    background-color: black;
    border: 0.08em solid black;
    text-decoration: none;
}

@media (min-width: 60em) {
    .container_form {
        width: 50%;
        padding: 2em;
    }
}

@media (min-width: 40em) and (max-width: 60em) {
    .container_form {
        width: 65%;
        padding: 1em;
    }
}

@media (min-width: 30em) and (max-width: 40em) {
    .container_form {
        width: 80%;
        padding: 2em;
    }
}

@media (max-width: 30em) {
    .container_form {
        width: 100%;
        padding: 1em;
    }
}
