.container_prod {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container_prod .block {
    padding: 0;
    flex-basis: 33.33333%;
}

.block:active, .block:hover, .block:focus {
    opacity: 0.7;
}

.footer {
    display: flex;
    overflow: hidden;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    background-color: white;
    padding: 0.5rem;
}

.button_nav {
    display: inline-block;
    padding: 0.5rem;
    margin: 0.5rem;
    text-decoration: none;
    transition: all 0.5s ease;
    text-transform: uppercase;
  }

.button_trans {
    color: #292830;
    background-color: transparent;
    border: 0.07em solid #292830;
  }
  
.button_trans:active, .button_trans:hover, .button_trans:focus {
    color: white;
    background-color: #292830;
}