.container_prod {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container_prod .block {
    flex-basis: 33.33333%;
    padding: 0.5em;
}

.block:active, .block:hover, .block:focus {
    opacity: 0.6;
}

.footer {
    display: flex;
    overflow: hidden;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    background-color: white;
    padding: 0.5rem;
    z-index: 1;
}

.button_nav {
    display: inline-block;
    padding: 0.5rem;
    margin: 0.5rem;
    text-decoration: none;
    transition: all 0.5s ease;
    text-transform: uppercase;
  }

.footer .button_nav {
    position: sticky;
    bottom: 0;
}

.button_trans {
    color: #292830;
    background-color: transparent;
    border: 0.07em solid #292830;
  }
  
.button_trans:active, .button_trans:hover, .button_trans:focus {
    color: white;
    background-color: #292830;
}

h3 {
margin-top: 0.3em;
margin-bottom: 0em;
padding-bottom: 0;
}

h4 {
  margin-top: 0.5em;
  margin-bottom: 0.7em;
  padding: 0;
}

/* Drop-up filter footer */
  
  .dropup {
    position: sticky;
    display: inline-block;
  }
  
  .dropup-content {
    display: none;
    position: sticky;
    padding: 0.5rem;
    margin: 0.5rem;
    bottom: 1em;
    z-index: 1;
    border: 0.07em solid #292830;
  }

  button {
    display: block;
    border: none;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    padding: 0;
    margin: 0;
    color: #292830; 
  }
  
  .dropup-content button {
    color: #292830;
    background-color: white;
    text-decoration: none;
    display: block;
  }
  
  .dropup-content button:hover {background-color: #ccc}
  
  .dropup:hover .dropup-content {
    display: block;
  }

  .dropup:hover .button_nav {
    bottom: 0;
  }